*{

    margin:0;
    padding:0;
    box-sizing:border-box;

}

:root{

    --fondo:#1d2026;
    --panel:#2b3038;
    --panelClaro:#383f49;

    --texto:#f5f5f5;
    --textoSecundario:#b9bcc4;

    --borde:#4a515c;

    --boton:#4c82ff;
    --botonHover:#6795ff;

}

body{

    display:flex;

    width:100vw;
    height:100vh;

    overflow:hidden;

    background:var(--fondo);

    color:var(--texto);

    font-family:
        Arial,
        Helvetica,
        sans-serif;

}

/* ---------------------------- */

#panelLateral{

    width:340px;

    min-width:340px;

    background:var(--panel);

    border-right:1px solid var(--borde);

    padding:20px;

    overflow-y:auto;

}

/* ---------------------------- */

header{

    margin-bottom:25px;

}

header h1{

    font-size:28px;

    margin-bottom:10px;

}

header p{

    color:var(--textoSecundario);

    line-height:1.5;

}

/* ---------------------------- */

.panel{

    display:flex;

    flex-direction:column;

    gap:15px;

}

.panel h2{

    margin-bottom:5px;

}

label{

    font-size:14px;

    color:var(--textoSecundario);

}

/* ---------------------------- */

.fila{

    display:flex;

    gap:10px;

}

/* ---------------------------- */

input[type="number"]{

    width:80px;

}

input[type="number"],
input[type="text"]{

    background:var(--panelClaro);

    color:white;

    border:1px solid var(--borde);

    border-radius:6px;

    padding:10px;

}

/* ---------------------------- */

input[type="range"]{

    flex:1;

}

/* ---------------------------- */

button{

    cursor:pointer;

    border:none;

    border-radius:6px;

    background:var(--boton);

    color:white;

    padding:12px;

    transition:0.25s;

    font-size:15px;

}

button:hover{

    background:var(--botonHover);

}

/* ---------------------------- */

#btnSemilla{

    width:55px;

    padding:0;

    font-size:20px;

}

/* ---------------------------- */

#informacionEscala{

    display:flex;

    flex-direction:column;

    gap:10px;

    margin-top:10px;

}

.dato{

    display:flex;

    justify-content:space-between;

    background:var(--panelClaro);

    border-radius:6px;

    padding:10px 12px;

}

.dato span{

    color:var(--textoSecundario);

}

/* ---------------------------- */

#btnCrearMundo{

    margin-top:10px;

    padding:14px;

    font-size:16px;

    font-weight:bold;

}

/* ---------------------------- */

#visorMapa{

    flex:1;

    position:relative;

    overflow:hidden;

    background:#20242b;

}

/* ---------------------------- */

#canvasMapa{

    width:100%;

    height:100%;

    display:block;

    background:#20242b;

}